<section>
    <div class="white-cont">
        <h1>PRIVACY POLICY AGREEMENT</h1>
        <p>
            Welcome to our website. This Privacy Policy Agreemen outlines the types of personal information we collect,
            how
            we use and protect it, and your rights in relation to your personal information. By accessing or using our
            website, you agree to the terms and conditions of this Agreement. If you do not agree to these terms and
            conditions, please do not use our website.
        </p>

        <h2>Information Collection</h2>
        <p>
            a. Personal Information: We may collect personal information from you when you use our website, such as your
            name, email address, phone number, and postal address. We may also collect demographic information, such as
            your
            age, gender, and interests.
        </p>

        <p>
            b. Usage Information: We may collect information about how you use our website, including the pages you
            visit,
            the links you click, and the time and date of your visits.
        </p>

        <p>
            c. Cookies: We may use cookies and similar technologies to collect information about your browsing behavior
            on
            our website. Cookies are small files that are stored on your computer or mobile device when you visit a
            website.
        </p>

        <h2>Information Use</h2>
        <p>
            a. Personal Information: We may use your personal information to provide you with the products, services,
            and
            information you request, to communicate with you about our website, and to send you marketing materials.
        </p>

        <p>b. Usage Information: We may use usage information to improve our website and to analyze trends and
            statistics.</p>

        <p>
            c. Cookies: We may use cookies to personalize your experience on our website, to remember your preferences,
            and
            to track your activities on our website.
        </p>

        <h2>Information Sharing</h2>
        <p>
            a. Service Providers: We may share your personal information with third-party service providers who help us
            operate our website and provide you with the products, services, and information you request.
        </p>

        <p>
            b. Business Transfers: We may share your personal information with a third party in the event of a merger,
            acquisition, or sale of our assets.
        </p>

        <p>
            c. Legal Requirements: We may disclose your personal information if required to do so by law or in the good
            faith belief that such action is necessary to comply with legal requirements or to protect our rights,
            property,
            or safety or the rights, property, or safety of others.
        </p>

        <h2>Information Security</h2>
        <p>
            We take reasonable measures to protect your personal information from unauthorized access, use, or
            disclosure.
            However, no data transmission over the Internet or electronic storage system can be guaranteed to be 100%
            secure.
        </p>

        <h2>Your Rights</h2>
        <p>a. Access: You have the right to access and receive a copy of the personal information we hold about you.</p>

        <p>b. Rectification: You have the right to request that we correct or update your personal information.</p>

        <p>
            c. Erasure: You have the right to request that we erase your personal information, subject to certain
            limitations.
        </p>

        <p>
            d. Restriction of Processing: You have the right to request that we restrict the processing of your personal
            information, subject to certain limitations.
        </p>

        <p>
            e. Data Portability: You have the right to receive the personal information we hold about you in a
            structured,
            commonly used, and machine-readable format and to transmit that information to another data controller,
            subject
            to certain limitations.
        </p>

        <p>
            f. Objection: You have the right to object to the processing of your personal information, subject to
            certain
            limitations.
        </p>

        <p>
            g. Withdrawal of Consent: You have the right to withdraw your consent to the processing of your personal
            information at any time.
        </p>

        <h2>Third-Party Websites and Services</h2>
        <p>
            Our website may contain links to third-party websites or services that are not owned or controlled by us. We
            are
            not responsible for the privacy practices or content of these third-party websites or services.
        </p>
    </div>
</section>