<section class="place-list" *ngIf="!isFilter">
    <app-customer-add-place-button *ngIf="!isPhone"></app-customer-add-place-button>
    <div class="white-cont">
        <h1>Place List</h1>
        <div class="mb-20 filter-cont">
            <app-places-filter *ngIf="!isPhone"
                (filterEvent)="filterChanged($event)"></app-places-filter>
            <button *ngIf="isPhone" (click)="showFilter()" class="btn-orange">Filter</button>
            <div class="input-cont" *ngIf="isPhone">
                <i class="material-icons orange-i" translate="no">search</i>
                <input type="text" (keyup)="filterStrChanged($event)" class="orange-input">
            </div>
        </div>
        <div class="card-cont">
            <div *ngFor="let place of filteredPlaces">
                <app-customer-place-card [place]="place"></app-customer-place-card>
            </div>
        </div>
        <!--<div *ngIf="isLoaded==false" class="card-cont">
            <div *ngFor="let elem of loadedElements" class="uloaded-elem">
                <div class="phantom-img">

                </div>
                <div class="text-cont">
                    <div class="phantom-p"></div>
                    <div class="phantom-p"></div>
                </div>
            </div>
        </div>!-->
    </div>

</section>
<app-places-phone-filter *ngIf="isFilter" (filterEvent)="filterChanged($event)"></app-places-phone-filter>