@import '/src/app/styles/cards/cards-cont.scss',
'/src/app/styles/base/base.scss',
'/src/app/styles/themes/white.scss',
'/src/app/styles/base/buttons.scss',
'/src/app/styles/base/colors.scss',
'/src/app/styles/base/inputs.scss';


section {
    padding: 50px;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg,
            $orange-0 0%,
            $orange-2 100%);
}
.white-cont{
    box-shadow: 0px 0px 10px 5px $red-3;
    background-color: $white;
}

@media screen and (max-width:500px) {
    section{
        padding: 0;
    }
    .white-cont{
        box-shadow: 0 0 0 0 white;
        border-radius: 0;
    }
}



.filter-cont button{
    margin-top: 0;
}