@import '/src/app/styles/details/details.scss';

section{
  background: linear-gradient(180deg,
            $orange-0 0%,
            $orange-2 100%);

  .types div{
      color: $orange-4;
      border: 2px solid $orange-4;
  }
  .types div:hover{
      background-color: $orange-4;
      color: $white;
  }
  .main-cont{
      box-shadow: 0px 0px 10px 5px $red-3;
  }
}