$white:white;
$black:black;

$red-1:#eed2cc;
$red-2:#e8998d;
$red-3:#e27767;
$red-4:#d93b3b;

$blue-1:#9cc2b6;
$blue-2:#7ca799;
$blue-3:#5f8f7f;
$blue-4:#497f6d;

$orange-0:rgb(255, 193, 164);
$orange-1:#f6c98e;
$orange-2:#edb874;
$orange-3:#e3a04a;
$orange-4:#de891c;
$orange-5:#ef8f11;

$google:rgb(237, 233, 233);
$google-hover:rgb(225, 220, 220);

$facebook:#4267b2;
$facebook-hover:#365593;

$apple:black;
$apple-hover:rgb(36, 35, 35);

$gray:gray;
$light-gray:rgb(244, 239, 239);



$red-grad-0:#FF928B;
$red-grad-1:#FFAC81;