<div class="element">
    <input type="file" id="file" (change)="addImageFilesEvent($event)">
    <label class="inside-image" for="file" appDnd (fileDropped)="addImageFiles($event)">
        <i translate="no" class="material-icons">image</i>
        <p>Drag and drop your files here</p>
    </label>
    <div class="images-cont">
        <div *ngFor="let image of originalImages" (click)="removeOriginalImage(image)">
            <img src={{image.path}} alt={{image.title}}>
            <div class="centered">
                <i translate="no" class="material-icons">add</i>
            </div>
        </div>
        <div *ngFor="let image of imagePreviews" (click)="removeImageFile(image)">
            <img src={{image.path}} alt={{image.path}}>
            <div class="centered">
                <i translate="no" class="material-icons">add</i>
            </div>
        </div>
    </div>


</div>